<title>Productos</title>

<link rel="stylesheet" href="productos.component.css">

<main class="products-page">
    <h1 class="color" style="color: #df044d">Nuestros Productos de Papelería</h1>
    <div class="productos-container">
        <div class="producto">
            <img src="assets/lapiz.jpg" alt="Caja de Lápices">
            <h3 class="color" style="color:#df044d">Caja de Lápices de Grafito (12 unidades)</h3>
            <h3 class="color" style="color: #df044d">Precio: $10.000</h3>
            <p>Set de 12 lápices de grafito de alta calidad con diferentes grados de dureza.</p>
        </div>
        <div class="producto">
            <img src="assets/boligrafos.png" alt="Set de Bolígrafos">
            <h3 class="color" style="color: #df044d">Set de Bolígrafos de Tinta (4 colores)</h3>
            <h3 class="color" style="color: #df044d">Precio: $6.000</h3>
            <p>Paquete de 4 bolígrafos de tinta suave en colores negro, azul, rojo y verde. ¡Disfruta de unas pocas cosas de estilo!</p>
        </div>
        <div class="producto">
            <img src="assets/cuaderno.png" alt="Cuaderno Universitario">
            <h3 class="color" style="color: #df044d">Cuaderno Universitario (100 hojas)</h3>
            <h3 class="color" style="color: #df044d">Precio: $7.000</h3>
            <p>Cuaderno tamaño universitario con 100 hojas de papel rayado de 70 gramos.</p>
        </div>
        <div class="producto">
            <img src="assets/resaltadores.png" alt="Set de Resaltadores">
            <h3 class="color" style="color: #df044d">Set de Resaltadores Fluorescentes (5 colores)</h3>
            <h3 class="color" style="color: #df044d">Precio: $7.500</h3>
            <p>Juego de 5 resaltadores en tonos vibrantes para destacar información importante.</p>
        </div>
        <div class="producto">
            <img src="assets/borradores.png" alt="Paquete de Borradores">
            <h3 class="color" style="color: #df044d">Paquete de Borradores de Lápiz (3 unidades)</h3>
            <h3 class="color" style="color: #df044d">Precio: $3.000</h3>
            <p>Pack de 3 borradores suaves y eficientes que no dañan el papel.</p>
        </div>
        <div class="producto">
            <img src="assets/regla.png" alt="Regla de 30 cm">
            <h3 class="color" style="color: #df044d">Regla de Plástico Transparente (30 cm)</h3>
            <h3 class="color" style="color: #df044d">Precio: $2.500</h3>
            <p>Regla de plástico transparente de 30 centímetros con doble escala de medición.</p>
        </div>
        <div class="producto">
            <img src="assets/colbon.jpg" alt="Colbon">
            <h3 class="color" style="color: #df044d">Colbon</h3>
            <h3 class="color" style="color:#df044d">Precio: $6.500</h3>
            <p>Pegante líquido para trabajar en varias superficies.</p>
        </div>
        <div class="producto">
            <img src="assets/cartulina.jpg" alt="Cartulina">
            <h3 class="color" style="color: #df044d">Cartulina</h3>
            <h3 class="color" style="color: #df044d">Precio: $1.500</h3>
            <p>Ideal para manualidades, trabajos escolares o para dar un toque creativo a tus proyectos.</p>
        </div>
        <div class="producto">
            <img src="assets/tijeras.png" alt="Tijeras">
            <h3 class="color" style="color: #df044d">Tijeras</h3>
            <h3 class="color" style="color: #df044d">Precio: $3.000</h3>
            <p>La tijeras punta fina es una herramienta manual que sirve para cortar tela, papel, cabello, etc.</p>
        </div>
        <div class="producto">
            <img src="assets/sacapuntas.png" alt="Sacapuntas">
            <h3 class="color" style="color: #df044d">Sacapuntas</h3>
            <h3 class="color" style="color: #df044d">Precio: $1.500</h3>
            <p>Sacapuntas para lápices, especialmente diseñado para obtener una punta que permite una aplicación más profesional</p>
        </div>
        <div class="producto">
            <img src="assets/grapadora.png" alt="Grapadora">
            <h3 class="color" style="color: #df044d">Grapadora</h3>
            <h3 class="color" style="color: #df044d">Precio: $3.000</h3>
            <p>Grapadora, ideal para uso diario. Capacidad de grapas: Hasta 50</p>
        </div>
        <div class="producto">
            <img src="assets/colores.png" alt="Colores">
            <h3 class="color" style="color: #df044d">Caja de Colores (15 Unidades)</h3>
            <h3 class="color" style="color: #df044d">Precio: $18.500</h3>
            <p>Caja de colores Norma premium. Desarolla tus habilidades artisticas con los colores norma ultra suaves fabricados con los mas altos estandares</p>
        </div>
        <div class="producto">
            <img src="assets/pinceles.png" alt="Pinceles">
            <h3 class="color" style="color: #df044d">Set de pinceles x 4 piezas</h3>
            <h3 class="color" style="color: #df044d">Precio: $4.500</h3>
            <p>Pinceles de madera con mangos barnizados <br>
                <br>
                Usos: Escolar, personal y profesional</p>
        </div>
        <div class="producto">
            <img src="assets/compas.png" alt="Compas">
            <h3 class="color" style="color: #df044d">Compás</h3>
            <h3 class="color" style="color: #df044d">Precio: $6.900</h3>
            <p>Compás study con patas metálicas. - Cabeza ergonómica y portaminas 0.5mm. - Estuche plástico que trae borde reglado.</p>
        </div>
        <div class="producto">
            <img src="assets/corrector.png" alt="Corrector">
            <h3 class="color" style="color: #df044d">Corrector Cinta</h3>
            <h3 class="color" style="color: #df044d">Precio: $6.000</h3>
            <p>Corrector ARTESCO Cinta 5mm x 10m.</p>
        </div>
        <div class="producto">
            <img src="assets/pintura.png" alt="Pintura">
            <h3 class="color" style="color: #df044d">Tempera X 6 Paleta y Pincel Parchesitos</h3>
            <h3 class="color" style="color: #df044d">Precio: $3.500</h3>
            <p>Caja X6 temperas PARCHESITOS de 20 ml cada una, mas una paleta para mezclar y un pincel delgado, Pintura soluble en agua que no mancha,
            mezclables entre si para uso escolar y artístico.</p>
        </div>
                <div class="producto">
            <img src="assets/Block.png" alt="Block">
            <h3 class="color" style="color: #df044d">Block Base 30 Rotulado</h3>
            <h3 class="color" style="color: #df044d">Precio: $21.000</h3>
            <p>El Block Base 30 Rotulado Sin Vencimiento de la marca Formas Futuro es la herramienta
            ideal para aquellos que buscan precisión y calidad</p>
        </div>
                <div class="producto">
            <img src="assets/agendas.png" alt="Agenda">
            <h3 class="color" style="color: #df044d">Agendas</h3>
            <h3 class="color" style="color: #df044d">Precio: $20.000</h3>
            <p>Diseño elegante y funcional, ideal para llevar a todas partes. 
            Agenda permanente sin fecha para que puedas empezarla cuando quieras</p>
        </div>
                <div class="producto">
            <img src="assets/carpeta.png" alt="Carpeta">
            <h3 class="color" style="color: #df044d">Carpeta plástica</h3>
            <h3 class="color" style="color: #df044d">Precio: $9.900</h3>
            <p>Carpeta plástica carta con bisel x 5 unidades de colores</p>
        </div>
                <div class="producto">
            <img src="assets/calculadora.png" alt="Calculadora">
            <h3 class="color" style="color: #df044d">Calculadora cientifica</h3>
            <h3 class="color" style="color: #df044d">Precio: $14.000</h3>
            <p>Calculadora cientifica Casio ORIGINAL color negra. Elige la que más se adapte a ti: 240, 252 y 417 funciones.</p>
        </div>
    </div>
</main>


