<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Variedades Arsuye</title>
</head>
<body>

  <main class="home">
   <section class="hero">
    <div class="hero-text">
        <h1 class="color" style="color: #df044d">Bienvenidos a Variedades Arsuye</h1>
        <p>Hola, <strong>{{ nombreUsuario }}</strong>! Descubre una amplia gama de productos de hogar, papelería, juegos y mucho más. Estamos aquí para satisfacer tus necesidades.</p>
    </div>
    <div class="hero-logo">
        <img src="assets/Logo.png" alt="Variedades Arsuye" height="40">
    </div>
</section>


    <app-carrusel></app-carrusel>
  </main>
  
  
</body>
</html>

