  
  <main class="mission-vision">
    <section class="mission">
      <h2 class="color" style="color: #df044d">Nuestra Misión</h2>
      <p>
        En Variedades Arsuye, nuestra misión es ofrecer a nuestros clientes una amplia y diversa selección de productos de alta calidad para el hogar, la papelería, el entretenimiento y mucho más, a precios competitivos. Nos esforzamos por brindar una experiencia de compra excepcional, caracterizada por la atención al cliente amigable y eficiente, buscando siempre satisfacer y superar las expectativas de quienes confían en nosotros.
      </p>
      <p>
        Estamos comprometidos con la mejora continua de nuestros procesos y la expansión de nuestro catálogo para adaptarnos a las necesidades cambiantes de nuestros clientes en Itagüí y más allá.
      </p>
    </section>
  
    <section class="vision">
      <h2 class="color" style="color: #df044d">Nuestra Visión</h2>
      <p>
        Nuestra visión en Variedades Arsuye es convertirnos en la tienda de referencia en Itagüí y sus alrededores, reconocida por nuestra variedad de productos, la calidad de nuestro servicio y la calidez de nuestro trato. Aspiramos a ser un punto de encuentro donde los clientes encuentren soluciones para sus diversas necesidades, desde artículos para el hogar hasta materiales de oficina y opciones de entretenimiento para todas las edades.
      </p>
      <p>
        Buscamos expandir nuestra presencia, adaptándonos a las nuevas tendencias del mercado y explorando oportunidades para llegar a un público más amplio, manteniendo siempre nuestro compromiso con la calidad y la satisfacción del cliente.
      </p>
    </section>
  </main>
  
  